* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #006b87 !important;
  /* background-image: url(images/background.png); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}
